version: 2
jobs:
  build:
    docker:
      - image: ubuntu:16.04
    steps:
      - run:
          name: apt-get
          command: apt update && apt -y install build-essential gcc g++ cmake git wget libgoogle-glog-dev libboost-test-dev libboost-filesystem-dev libboost-serialization-dev libboost-system-dev pkg-config libeigen3-dev libclass-loader-dev libtinyxml-dev librosconsole-bridge-dev
      - run:
          name: fix-class-loader-pkg-config
          command: "sed -i '/Libs:/c\\Libs:  -lclass_loader -lboost_filesystem -lboost_thread -lboost_system -lpthread -lPocoFoundation -ldl -lconsole_bridge' /usr/lib/x86_64-linux-gnu/pkgconfig/class_loader.pc"
      - checkout
      - run:
          name: chmod install script
          command: chmod +x install_dependencies.sh
      - run:
          name: run install script
          command: ./install_dependencies.sh
      - run:
          name: compile
          command: mkdir build && cd build && cmake -DROCK_TEST_ENABLED=ON .. && make -j4
      - run:
          name: test_suit
          command: ~/project/build/test/test_suite
      - run:
          name: test_plugins
          command: ~/project/build/test/test_plugins

